.team {
    text-align: center;
    padding: 2rem;
    position: relative;
}

.team h3 {
    font-size: var(--font-xl);
    font-weight: 600;
    border-bottom: 3px solid;
    display: inline-block;
    padding-bottom: 0.5rem;
    margin: 0 0 1rem;
}

.team .employees {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.team .color-picker {
    position: absolute;
    top: 1.25rem;
    right: 3rem;
    cursor: pointer;
}